{% extends "head.html" %}

{% block content %}

<br><br>

<div class="bullshit">

    <div class="bullshit">
        <!-- <h1>BestBnB</h1> -->
        <h2 style>Welcome to BestBnB, the app that helps you get a fairly priced AirBnb in a neighborhood you'll love  </h2>
      </div>

    <div class = "bullshit">

      <form  action="/nbd_rec" method="GET">
        <div class="form-group">
          <br>
          <label for="nbd" class="lead" >
            Describe the kind of area you'd like to live in. You can use natural language or just list terms. <br>
            For example you could type "hip cute trendy" or "I'd like to stay in a safe neighborhood
            close to live music".</label> <br>

          <!-- <label for="nbd">Get Description:</label> -->
          <input class="form-control input-lg" type="text" id='descp' name='descp' placeholder="eg. hip" >

          <!-- <label for="nbd">Get Description:</label> <br> -->
          <!-- <input type="text" id='map_descp_2' name='map_descp_2' placeholder=""> -->
          <!-- <label for="nbd">Get Description:</label> <br> -->
          <!-- <input type="text" id='map_descp_3' name='map_descp_3' placeholder=""> -->

        </div>

        <div>

        <!-- <form  action="/map" method="GET">
          <button type="submit" class="btn btn-default btn-lg">Check out the vibe!</button>
        </form> -->

        <!-- <form  action="/nbd_rec" method="GET"> -->
          <!-- <button type="submit" class="btn btn-default btn-lg">See Best Nbds!</button> -->
        <!-- </form> -->

        </div>

      </form>
<!--

            <form  action="/nbd_rec" method="GET">
              <div class="form-group">
                <br>
                <label for="nbd">Describe Some Areas you'd like to live in:</label> <br>

                <label for="nbd">Get Description:</label>
                <input type="text" id="descp" name='descp' placeholder="eg. hip">


              </div>

              <div>
                <button type="submit" class="btn btn-default btn-lg">See Best Nbds!</button>
              </div>

            </form> -->

      <br><br>
      <form  action="/nbd" method="GET">
        <div class="form-group">
          <label for="nbd" class="lead" >Or see best listings in a specific neighborhood:</label> <br>
          <input type="text" class="form-control" id="nbd" name='nbd' placeholder="e.g. East Village">


        </div>
<!--
        <div>
          <button type="submit" class="btn btn-default btn-lg">Look at a neighborhood!</button>
        </div> -->

            </form>


    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>




  </div> <!-- /.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
