<!DOCTYPE html>

{% extends "head.html" %}
{% block content %}
<br><br>

<div style="height:550px;">
{% include "map.html"%}
</div>

<!-- {% include "map.html"%} -->

<div class="container">
<!--
      <div class="starter-template">
        <h1>BestBnB</h1>
        <p class="lead">Get a fairly priced AirBnb in a neighborhood you'll love.</p>
      </div>

      </form> -->
      <br><br>

<!--
            <form  action="/nbd_rec" method="GET">
              <div class="form-group">
                <br>
                <label for="nbd">Describe Some Areas you'd like to live in:</label> <br>


                <input type="text" id="nbd_descp" name='map_descp' placeholder="eg. hip">


              </div>

              <div>
                <button type="submit" class="btn btn-default btn-lg">See Best Nbds!</button>
              </div>

            </form> -->
            <label for="nbd" class="lead">
                      Your current desctiption is: {{descp}} <br><br>

                      Above you will see a heat-map allowing you to explore what general areas of the city have the vibe you
                      are looking for. <br><br>


                      Below you will find your top recommended neighborhoods - click on them to see top listings in each neighborhood.
                      </label>
      <br>

      <br>

    </div>
    <!-- <div class="container">
    <iframe src="map" height="800" width="800"></iframe>
    </div> -->

    <div class="container">

      <div class="lead">

    <table class="table table-hover">
    <tr><th>Neighborhood</th><th>Match Score</th>
    {% for nbd in nbds %}

    <form  action="/nbd?nbd=East+Village" method="GET">
    <tr><td>

      <a href="/nbd?nbd={{ nbd['name'] }}" > {{ nbd['name'] }}</button>

    </td><td>{{ nbd['score']}}%</td></tr>
    </form>
    {% endfor %}
    </table>

  </div>
    </div>

    <div>
  </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>




  </div> <!-- /.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
